VITE_SUPABASE_URL=https://grznqpjnwiipfvqxgsdt.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imdyem5xcGpud2lpcGZ2cXhnc2R0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA3NDY5NDAsImV4cCI6MjA5NjMyMjk0MH0.JkY39861MyGB6iqWNmLVmU-Lpw9NSHICZPiPd018cwI
